@model IEnumerable<AttendanceProject.Models.AttTableDefination>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .btn-success {
        background-color: #388425;
        border-color: #348637;
        font-size: 17px;
        width: 88%;
    }
</style>
<h2>Index</h2>


    <div class="form-horizontal">
        <h4>AttendanceSheet</h4>
        <hr />

        <div class="form-group Tablediv">
            <label class="control-label col-md-2">Choose Senario</label>
            <div class="col-md-6">
                <select class="form-control" id="TableID" name="TableID" required>
                    <option value=""> -- Choose from Tables -- </option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.TableId">@item.ColumnDefination</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success btn-labeled" href="~/Home" target="_blank"><span class="fa fa-download"></span>  Download Template</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>


