@model IEnumerable<AttendanceProject.Models.AttTableDefination>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .btn-success {
        background-color: #388425;
        border-color: #348637;
        font-size: 17px;
        width: 88%;
    }
</style>
<h2>Index</h2>


<div class="form-horizontal">
    <h4>AttendanceSheet</h4>
    <hr />


    @using (Html.BeginForm("Download", "AttendanceSheets", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
    {
        <div class="form-group Tablediv">
            <label class="control-label col-md-2">Choose Table</label>
            <div class="col-md-6">
                <select class="form-control" id="TableID" name="TableID" required>
                    <option value=""> -- Choose from Tables -- </option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.TableId">@item.ColumnDefination</option>
                    }
                </select>
            </div>

            <div class="col-md-4">
                <button type="submit" class="btn btn-success btn-labeled"><span class="fa fa-download"></span>  Download Template</button>
            </div>
        </div>
    }

    <hr />

@using (Html.BeginForm("Upload", "AttendanceSheets", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
{
   
    <input type="hidden" name="TableID" id="TableRecord"/>
    <div class="form-group Tablediv">
        <div class="row" style="padding: 9px;">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-2">
                <input type="text" name="FileDescription" id="FileDescription" class="form-control" />
            </div>
            <label class="control-label col-md-1">File</label>
            <div class="col-md-3" style="padding-top: 9px;">
                <input type="file" id="File" name="File" required>
            </div>
            <div class="col-md-4">
                <button id="btnUpload" type="submit" class="btn btn-success btn-labeled"><span class="btn-label icon fa fa-upload"></span> Upload File </button>
            </div>
        </div>

        <div class="row hidden" style="padding: 9px;">
            <label class="control-label col-md-2">From Date</label>
            <div class="col-md-2">
                <input class="form-control" type="date" id="FromDate" name="FromDate" >
            </div>
            <label class="control-label col-md-2">To Date</label>
            <div class="col-md-2">
                <input class="form-control" type="date" id="ToDate" name="ToDate" >
            </div>
        </div>
    </div>
}

    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#TableID").change(function () {
            var tableselect = $(this).val();
            $("#TableRecord").val(tableselect);
        });
    </script>
}
